body {
    font-family: 'Arial', sans-serif;
    background: url(images/bg.jpg)
}

div.form {
    background: url(images/form-bg.png) no-repeat;
    width: 608px;
    height: 353px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -56.5%)
}

div.content {
    width: 556px;  /* original width: 600px; height: 264px */
    height: 240px;
    background: transparent;
/*    background: rgba(255,0,0,0.5);*/
    position: absolute;
    left: 50%;
    top: 57.5%;
    transform: translate(-50%, -50%);
    padding: 12px 22px
}

div.leftSide {
    background: rgba(255,0,0,0.5);
}

.authorization {
    margin: 0
}

.authorization .or {
    color: #b9b9b9
}

.authorization .signUp {
    color: #2944ab;
    font-size: 16px
}

hr {
    width: 550px;
    margin: 12px 2px
}