/*
li {
    list-style: none;
    background: url(../images/checked.png) no-repeat;
    padding-left: 30px
}
*/

i {
    font-size: 46px;
    color: green
}

li::before {
    content: "❤";
    color: red;
/*    margin-right: 15px;*/
    font-size: 20px
}

div {
    background: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100px;
    position: relative;
}

div::after {
    content: "";
    border-top: 30px solid red;
    border-left: 30px solid blue;
    position: absolute;
    bottom: -50px;
    left: 10px;
    width: 0px;
    height: 0px;
    display: block
}

p.text {
    color: blue
}
p {
    color: red
}

h1 {
    text-align: center
}

div.centerDiv {
    background: green;
    width: 300px;
    height: 200px;
    padding: 50px;
    text-align: center;
/*    margin: 0 auto*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    color: white;
    border: 5px solid black;
    box-sizing: border-box
}